

.header_up {
    margin-top: 20px;
    height: 40px;

    border-bottom: 1px solid rgb(224, 223, 223);
}

.header_up_space {
    display: flex;
    margin: 0 190px;
}

.header_up_space_logo {
    margin-top: -5px;
    flex: 1 0 auto;
}

.header_up_space_buttons_sign_in {
    
    font-size: 15.8px;
    font-style: normal;
    color: green;
}

.header_up_space_buttons_get_sterted {
    margin-left: 16px;
    padding: 8px 16px;

    font-size: 15.8px;
    font-style: normal;
    color: green;

    border: 1px solid green;
    border-radius: 4px;
}





.header_down {
    margin-top: 20px;
    height: 40px;

    border-bottom: 1px solid grey;
}

.header_down_space {
    display: flex;
    margin: 0 190px;
}

.header_down_space_logo {
    margin-top: -7px;
}

.header_down_space_text {
    margin-left: 15px;
    font-size: 15px;
    font-style: normal;
    color: grey;
}

.header_down_space_text_1 {
    margin-left: 10px;
}

.header_down_space_text_2 {
    margin-left: 10px;
}

.header_down_space_text_3 {
    margin-left: 10px;
}

.header_down_space_text_4 {
    margin-left: 10px;
}

.main {
    border-bottom: 1px solid grey;
}

.main_space {
    margin-left: auto;
    margin-right: auto;
    width: 700px;
}

.main_space_h1 {
    font-size: 40px;
}

.main_space_desc {
    display: flex;
    margin-bottom: 50px;
}

.main_space_desc_left {
    margin-left: 15px;
    flex: 1 0 auto;
}

.main_space_desc_left_my {
    margin-bottom: 8px;
}

.main_space_desc_left_data {
    color: grey;
}

.main_space_desc_left_my_follow {
    margin-left: 4px;
    padding: 4px;
    border: 1px solid grey;
    border-radius: 4px;
}

.main_text {
    font-size: 21px;
}